body
{
    padding: 0;
    margin: 0;

    background-color: #778DAB;
}

.report
{
    background-color: #24292E;
    color: white;

    padding: 1em;
    margin: 1em 10% 0 10%;

    font-size: 1.3em;
    font-family: 'Open Sans', 'DejaVu Sans', sans-serif;
}

.report_header
{
    font-size: 2em;

    border-bottom-style: solid;
    border-bottom-width: 2px;
    border-bottom-color: white;

    margin-bottom: 1em;
    color: #EB4646;
}

.katex
{
    font-size: 1.5em !important;
}